@use 'sass:math';
@import './breakpoints';
/*
screen types: 
    mobile,
    to-tablet
    tablet,
    to-desktop
    desktop,
*/
@mixin media($_screen) {
  @if $_screen == mobile {
    @media screen and (min-width: $mobile) {
      @content;
    }
  } @else if $_screen == to-tablet {
    @media screen and (max-width: $to-tablet) {
      @content;
    }
  } @else if $_screen == tablet {
    @media screen and (min-width: $tablet) {
      @content;
    }
  } @else if $_screen == to-desktop {
    @media screen and (max-width: $to-desktop) {
      @content;
    }
  } @else if $_screen == desktop {
    @media screen and (min-width: $desktop) {
      @content;
    }
  }
}

@mixin font($_fsz, $_lnh) {
  font-size: #{$_fsz}px;

  $result: math.div($_lnh, $_fsz);

  line-height: math.div(math.round($result * 100), 100);
}

// HOVER MIXIN
@mixin hover-style($bg-hover, $text-hover) {
  transition: $hover-transition-props $hover-transition-duration
    $hover-transition-easing;

  &:hover {
    @if $bg-hover != null {
      background-color: $bg-hover;
    }
    @if $text-hover != null {
      color: $text-hover;
    }
  }
  &:focus {
    @if $bg-hover != null {
      background-color: $bg-hover;
    }
    @if $text-hover != null {
      color: $text-hover;
    }
  }
}

// EXAMPLE HOW TO USE
// ::::::::::::::::::::::::::::::::::
// .button {
//   background-color: $btn-bg;
//   color: $btn-text;
//   @include hover-style($btn-bg-hover, $btn-text-hover);
// }

// If u have to change only ONE PROPERTY
// ::::::::::::::::::::::::::::::::::::::
//.link {
//   color: $txt-color;
//   @include hover-style(null, $txt-color-hover);
// }
