<section id="advantages" data-section="advantages">
  <h2 data-descriptionn="title" data-font="h2">Advantages</h2>
  <ul data-advantages="list">
    <li data-advantages="item">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            /img/advantages/happy-face-desc.png    1x,
            /img/advantages/happy-face-desc@2x.png 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            /img/advantages/happy-face-mob.png    1x,
            /img/advantages/happy-face-mob@2x.png 2x
          "
        />
        <img
          src="/img/advantages/happy-face-mob.png "
          alt="happy-face"
          loading="lazy"
        />
      </picture>

      <p data-advantages="text">Hilarious cutscenes and humorous moments</p>
    </li>
    <li data-advantages="item">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            /img/advantages/efects-lightning-desc.png    1x,
            /img/advantages/efects-lightning-desc@2x.png 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            /img/advantages/efects-lightning-mob.png    1x,
            /img/advantages/efects-lightning-mob@2x.png 2x
          "
        />
        <img
          src="../img/advantages/efects-lightning-mob.png"
          alt="efects-lightning"
          loading="lazy"
        />
      </picture>
      <p data-advantages="text">Vivid visual effects and animated combat</p>
    </li>
    <li data-advantages="item">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            /img/advantages/defend-shield-lightning-desc.png    1x,
            /img/advantages/defend-shield-lightning-desc@2x.png 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            /img/advantages/defend-shield-lightning-mob.png    1x,
            /img/advantages/defend-shield-lightning-mob@2x.png 2x
          "
        />
        <img
          src="../img/advantages/defend-shield-lightning-mob.png"
          alt="defend-shield-lightning"
          loading="lazy"
        />
      </picture>
      <p data-advantages="text">
        Defend unique battlegrounds across the hometown
      </p>
    </li>
    <li data-advantages="item">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            /img/advantages/fireball-desc.png    1x,
            /img/advantages/fireball-desc@2x.png 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            /img/advantages/fireball-mob.png    1x,
            /img/advantages/fireball-mob@2x.png 2x
          "
        />
        <img
          src="../img/advantages/fireball-mob.png "
          alt="fireball"
          loading="lazy"
        />
      </picture>
      <p data-advantages="text">
        Explosive fireball mechanics with dynamic physics
      </p>
    </li>
    <li data-advantages="item">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            /img/advantages/hero-desc.png    1x,
            /img/advantages/hero-desc@2x.png 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            /img/advantages/hero-mob.png    1x,
            /img/advantages/hero-mob@2x.png 2x
          "
        />
        <img src="../img/advantages/hero-mob.png " alt="hero" loading="lazy" />
      </picture>
      <p data-advantages="text">Unique fiery heroes with custom skills</p>
    </li>
    <li data-advantages="item">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            /img/advantages/replayability-desc.png    1x,
            /img/advantages/replayability-desc@2x.png 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            /img/advantages/replayability-mob.png    1x,
            /img/advantages/replayability-mob@2x.png 2x
          "
        />
        <img
          src="../img/advantages/replayability-mob.png  "
          alt="replayability"
          loading="lazy"
        />
      </picture>
      <p data-advantages="text">
        High replayability with increasing challenges
      </p>
    </li>
    <li data-advantages="item">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            /img/advantages/free-desc.png    1x,
            /img/advantages/free-desc@2x.png 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            /img/advantages/free-mob.png    1x,
            /img/advantages/free-mob@2x.png 2x
          "
        />
        <img src="../img/advantages/free-mob.png  " alt="free" loading="lazy" />
      </picture>
      <p data-advantages="text">Free-to-play with engaging content</p>
    </li>
    <li data-advantages="item">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            /img/advantages/upgrades-desc.png    1x,
            /img/advantages/upgrades-desc@2x.png 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            /img/advantages/upgrades-mob.png    1x,
            /img/advantages/upgrades-mob@2x.png 2x
          "
        />
        <img
          src="../img/advantages/upgrades-mob.png  "
          alt="replayability"
          loading="lazy"
        />
      </picture>
      <p data-advantages="text">Progressive hero upgrades and new skills</p>
    </li>
    <li data-advantages="item">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            /img/advantages/no-internet-desc.png    1x,
            /img/advantages/no-internet-desc@2x.png 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            /img/advantages/no-internet-mob.png    1x,
            /img/advantages/no-internet-mob@2x.png 2x
          "
        />
        <img
          src="../img/advantages/no-internet-mob.png "
          alt="no-internet"
          loading="lazy"
        />
      </picture>
      <p data-advantages="text">No internet required</p>
    </li>
    <li data-advantages="item">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            /img/advantages/optimized-desc.png    1x,
            /img/advantages/optimized-desc@2x.png 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            /img/advantages/optimized-mob.png    1x,
            /img/advantages/optimized-mob@2x.png 2x
          "
        />
        <img
          src="../img/advantages/optimized-mob.png "
          alt="optimized"
          loading="lazy"
        />
      </picture>
      <p data-advantages="text">Optimized for smooth mobile performance</p>
    </li>
  </ul>
</section>
