<section id="cta" data-section="cta">
  <p data-font="body-large" data-cta="text">
    Join the Fireball Heroes and Ignite Your Journey!" Download Fireball Heroes
    now and blast your way through alien chaos!
  </p>
  <p data-font="body-large" data-cta="text">Available FREE on Google Play</p>
  <button data-playBtn>
    <a
      data-el="play-link"
      href="https://play.google.com/store/apps/details?id=io.popscreen.fireballheroes&hl=en&gl=us"
      data-font="body-large"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg data-el="google-logo">
        <use href="/img/sprite.svg#icon-logo-google-play"></use>
      </svg>
      <span> Play now</span>
    </a>
  </button>
</section>
