<section id="description" data-section="description">
  <h2 data-descriptionn="title" data-font="h2">Description</h2>
  <div data-descriptionn="content ">
    <div data-descriptionn="image">
      <picture>
        <source
          srcset="/img/description/descr.png 1x"
          media="(min-width: 1024px)"
        />
        <source
          srcset="/img/description/descr@2x.png 2x"
          media="(min-width: 1024px)"
        />
        <source
          srcset="/img/description/descr-mob.png 1x"
          media="(max-width: 1023px)"
        />
        <source
          srcset="/img/description/descr-mob@2x.png 2x"
          media="(max-width: 1023px)"
        />
        <img src="/img/description/descr-mob.png" alt="description img" />
      </picture>
    </div>

    <div data-descriptionn="text">
      <p data-font="body" data-descriptionn="paragraph">
        Welcome to Fireball Heroes — A Fiery Quest! Unleash your inner flame and
        join a team of blazing warriors in their quest to protect their hometown
        from relentless alien invaders.
      </p>
      <p data-font="body" data-descriptionn="paragraph">
        Train by blasting objects and perfecting your aim, then jump into battle
        to incinerate enemies with explosive fireballs. With exhilarating
        gameplay, comedic moments, and epic showdowns, this game is your
        ultimate ticket to action-packed fun!
      </p>
    </div>
  </div>
</section>
