<section id="faq" data-section="faq">
  <h2 data-font="h2">FAQ</h2>
  <ul>
    <li>
      <div>
        <p>Is Fireball Heroes free to play?</p>
        <picture>
          <source media="" srcset="/img/faq/fire- 1x, /img/faq/fire- 2x" />
          <source media="" srcset="/img/faq/fire- 1x, /img/faq/fire- 2x" />
          <img src="" alt="" loading="lazy" />
        </picture>
        <p>Yes! It’s free with optional in-app purchases</p>
      </div>
    </li>
    <li>
      <div>
        <p>Can I play offline?</p>
        <picture>
          <source media="" srcset="/img/faq/fire- 1x, /img/faq/fire- 2x" />
          <source media="" srcset="/img/faq/fire- 1x, /img/faq/fire- 2x" />
          <img src="" alt="" loading="lazy" />
        </picture>
        <p>Yes, enjoy the action anytime, anywhere</p>
      </div>
    </li>
    <li>
      <div>
        <p>Are there different characters?</p>
        <picture>
          <source media="" srcset="/img/faq/fire- 1x, /img/faq/fire- 2x" />
          <source media="" srcset="/img/faq/fire- 1x, /img/faq/fire- 2x" />
          <img src="" alt="" loading="lazy" />
        </picture>
        <p>Absolutely! Each hero has unique fire abilities</p>
      </div>
    </li>
    <li>
      <div>
        <p>What are the power-ups?</p>
        <picture>
          <source media="" srcset="/img/faq/fire- 1x, /img/faq/fire- 2x" />
          <source media="" srcset="/img/faq/fire- 1x, /img/faq/fire- 2x" />
          <img src="" alt="" loading="lazy" />
        </picture>
        <p>Unlock fiery blasts, explosive zones, and more</p>
      </div>
    </li>
    <li>
      <div>
        <p>Will new content be added?</p>
        <picture>
          <source media="" srcset="/img/faq/fire- 1x, /img/faq/fire- 2x" />
          <source media="" srcset="/img/faq/fire- 1x, /img/faq/fire- 2x" />
          <img src="" alt="" loading="lazy" />
        </picture>
        <p>Yes! Regular updates bring new heroes, missions, and features</p>
      </div>
    </li>
  </ul>
</section>
