<section id="faq" data-section="faq">
  <h2 data-font="h2">FAQ</h2>
  <ul data-list="faq">
    <li data-box="faq">
      <p data-font="body-medium" data-el="question-p">
        Is Fireball Heroes free to play?
      </p>
      <div data-el="answer-block">
        <picture data-el="fire-pic">
          <source
            media="(min-width: 1200px)"
            srcset="/img/faq/fire-desc.png 1x, /img/faq/fire-desc@2x.png 2x"
          />
          <source
            media="(min-width: 320px)"
            srcset="/img/faq/fire-mob.png 1x, /img/faq/fire-mob@2x.png 2x"
          />
          <img src="/img/faq/fire-desc.png" alt="little fire" loading="lazy" />
        </picture>
        <p data-font="body-medium">
          Yes! It’s free with optional in-app purchases
        </p>
      </div>
    </li>
    <li data-box="faq">
      <p data-font="body-medium" data-el="question-p">Can I play offline?</p>
      <div data-el="answer-block">
        <picture data-el="fire-pic">
          <source
            media="(min-width: 1200px)"
            srcset="/img/faq/fire-desc.png 1x, /img/faq/fire-desc@2x.png 2x"
          />
          <source
            media="(min-width: 320px)"
            srcset="/img/faq/fire-mob.png 1x, /img/faq/fire-mob@2x.png 2x"
          />
          <img src="/img/faq/fire-desc.png" alt="little fire" loading="lazy" />
        </picture>
        <p data-font="body-medium">Yes, enjoy the action anytime, anywhere</p>
      </div>
    </li>
    <li data-box="faq">
      <p data-font="body-medium" data-el="question-p">
        Are there different characters?
      </p>
      <div data-el="answer-block">
        <picture data-el="fire-pic">
          <source
            media="(min-width: 1200px)"
            srcset="/img/faq/fire-desc.png 1x, /img/faq/fire-desc@2x.png 2x"
          />
          <source
            media="(min-width: 320px)"
            srcset="/img/faq/fire-mob.png 1x, /img/faq/fire-mob@2x.png 2x"
          />
          <img src="/img/faq/fire-desc.png" alt="little fire" loading="lazy" />
        </picture>
        <p data-font="body-medium">
          Absolutely! Each hero has unique fire abilities
        </p>
      </div>
    </li>
    <li data-box="faq">
      <p data-font="body-medium" data-el="question-p">
        What are the power-ups?
      </p>
      <div data-el="answer-block">
        <picture data-el="fire-pic">
          <source
            media="(min-width: 1200px)"
            srcset="/img/faq/fire-desc.png 1x, /img/faq/fire-desc@2x.png 2x"
          />
          <source
            media="(min-width: 320px)"
            srcset="/img/faq/fire-mob.png 1x, /img/faq/fire-mob@2x.png 2x"
          />
          <img src="/img/faq/fire-desc.png" alt="little fire" loading="lazy" />
        </picture>
        <p data-font="body-medium">
          Unlock fiery blasts, explosive zones, and more
        </p>
      </div>
    </li>
    <li data-box="faq">
      <p data-font="body-medium" data-el="question-p">
        Will new content be added?
      </p>
      <div data-el="answer-block">
        <picture data-el="fire-pic">
          <source
            media="(min-width: 1200px)"
            srcset="/img/faq/fire-desc.png 1x, /img/faq/fire-desc@2x.png 2x"
          />
          <source
            media="(min-width: 320px)"
            srcset="/img/faq/fire-mob.png 1x, /img/faq/fire-mob@2x.png 2x"
          />
          <img src="/img/faq/fire-desc.png" alt="little fire" loading="lazy" />
        </picture>
        <p data-font="body-medium">
          Yes! Regular updates bring new heroes, missions, and features
        </p>
      </div>
    </li>
  </ul>
</section>
