<section data-section="features" id="features">
  <h2 data-font="h2" data-el="features-title">Features</h2>
  <ul data-list="features">
    <li data-list="features-group1">
      <ul data-list="features-group1">
        <li data-box="features">
            <picture data-pic="features">
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/features/heroes-desc.png    1x,
                  /img/features/heroes-desc@2x.png 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  img/features/heroes-mob.png     1x,
                  /img/features/heroes-mob@2x.png 2x
                "
              />
              <img
                src="/img/features/heroes-desc.png"
                alt="little picture 1x1 with dark background of orange and yellow hero"
                loading="lazy"
              />
            </picture>
            <h3 data-font="h3">Unique Heroes</h3>
            <p data-font="body-medium">
              Play as a variety of fiery characters, each with their own special
              moves and personalities
            </p>
          </div>
        </li>
        <li data-box="features">
            <picture data-pic="features">
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/features/battles-desc.png    1x,
                  /img/features/battles-desc@2x.png 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  /img/features/battles-mob.png   1x,
                  /img/features/action-mob@2x.png 2x
                "
              />
              <img
                src="/img/features/battles-desc.png"
                alt="little picture 1x1 with dark background of orange and yellow fireball"
                loading="lazy"
              />
            </picture>
            <h3 data-font="h3">Heroic Battles</h3>
            <p data-font="body-medium">
              Engage in high-energy combat against waves of alien forces
            </p>
          </div>
        </li>
        <li data-box="features">
            <picture data-pic="features">
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/features/powers-desc.png    1x,
                  /img/features/powers-desc@2x.png 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  /img/features/powers-mob.png    1x,
                  /img/features/powers-mob@2x.png 2x
                "
              />
              <img
                src="/img/features/powers-desc.png"
                alt="little picture 1x1 with dark background of orange and yellow explosion"
                loading="lazy"
              />
            </picture>
            <h3 data-font="h3">Explosive Powers</h3>
            <p data-font="body-medium">
              Unlock devastating fire-based skills and unleash them at the right
              moment
            </p>
          </div>
        </li>
      </ul>
    </li>

    <li data-list="features-group2">
      <ul data-list="features-group2">
        <li data-box="features">
          
            <picture data-pic="features">
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/features/defend-desc.png    1x,
                  /img/features/defend-desc@2x.png 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="/img/features/defend-mob.png 1x. /img/features/defend-mob@2x.png 2x"
              />
              <img
                src="/img/features/defend-desc.png"
                alt="little picture 1x1 with dark background of orange and yellow shield with fire"
                loading="lazy"
              />
            </picture>
            <h3 data-font="h3">Defend the Hometown</h3>
            <p data-font="body-medium">
              Protect key locations from invading enemies in dynamic
              battlegrounds
            </p>
      
        </li>
        <li data-box="features">
        
            <picture data-pic="features">
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/features/comic-desc.png    1x,
                  /img/features/comic-desc@2x.png 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  /img/features/comic-mob.png    1x,
                  /img/features/comic-mob@2x.png 2x
                "
              />
              <img
                src="/img/features/comic-desc.png"
                alt="little picture 1x1 with dark background of orange and yellow monolog circle with text ha-ha in it"
                loading="lazy"
              />
            </picture>
            <h3 data-font="h3">Comic Chaos</h3>
            <p data-font="body-medium">
              Lighthearted humor and quirky cutscenes keep the mood fun and
              engaging
            </p>
          </div>
        </li>
      </ul>
    </li>

    <li data-list="features-group3">
      <ul data-list="features-group3">
        <li data-box="features">
            <picture data-pic="features">
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/features/training-desc.png    1x,
                  /img/features/training-desc@2x.png 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  /img/features/training-mob.png    1x,
                  /img/features/training-mob@2x.png 2x
                "
              />
              <img
                src="/img/features/training-desc.png"
                alt="little picture 1x1 with dark background of orange and yellow magic staff with a ball on the end"
                loading="lazy"
              />
            </picture>
            <h3 data-font="h3">Fireball Training</h3>
            <p data-font="body-medium">
              Practice by blasting destructible objects to level up your aim and
              power
            </p>
          </div>
        </li>
        <li data-box="features">
          
            <picture data-pic="features">
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/features/effects-desc.png    1x,
                  /img/features/effects-desc@2x.png 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  /img/features/effects-mob.png    1x,
                  /img/features/effects-mob@2x.png 2x
                "
              />
              <img
                src="/img/features/effects-desc.png"
                alt="little picture 1x1 with dark background of orange and yellow lamp surrounded by rays"
                loading="lazy"
              />
            </picture>
            <h3 data-font="h3">Special Effects</h3>
            <p data-font="body-medium">
              Enjoy satisfying explosions, glowing flame trails, and cinematic
              action shots
            </p>
          </div>
        </li>
        <li data-box="features">
        
            <picture data-pic="features">
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/features/action-desc.png    1x,
                  /img/features/action-desc@2x.png 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  /img/features/action-mob.png    1x,
                  /img/features/action-mob@2x.png 2x
                "
              />
              <img
                src="/img/features/action-desc.png"
                alt="little picture 1x1 with dark background of orange and yellow endless sign and little explosion in background"
                loading="lazy"
              />
            </picture>
            <h3 data-font="h3">Endless Action</h3>
            <p data-font="body-medium">
              Replay levels, boost your heroes, and challenge yourself in harder
              modes
            </p>
        </li>
      </ul>
    </li>
  </ul>
</section>
