<footer id="footer" data-section="footer">
  <ul data-list="footer">
    <li data-font="body">
      <a href="./privacy.html"
        ><img
          data-el="footer-icon"
          src="/img/footer/privacy.png"
          srcset="/img/footer/privacy.png 1x, /img/footer/privacy@2x.png 2x"
          alt="lock icon"
        />
        Privacy Policy</a
      >
    </li>
    <li data-font="body">
      <a href="./terms.html"
        ><img
          data-el="footer-icon"
          src="/img/footer/terms.png"
          srcset="/img/footer/terms.png 1x, /img/footer/terms@2x.png 2x"
          alt="folder icon"
        />
        Terms and Conditions</a
      >
    </li>
    <li data-font="body">
      <a href="./cookies.html">
        <img
          data-el="footer-icon"
          src="/img/footer/cookie.png"
          srcset="/img/footer/cookie.png 1x, /img/footer/cookie@2x.png 2x"
          alt="cookie icon"
        />
        Cookie Policy</a
      >
    </li>
  </ul>
  <p data-font="body">© 2025 fbjocifewc.xyz - All rights reserved.</p>
</footer>
