<section id="gallery" data-section="gallery">
  <h2 data-font="h2">Gallery</h2>
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              /img/gallery/gallery-1.png    1x,
              /img/gallery/gallery-1@2x.png 2x
            "
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/gallery/gallery-1desc.png    1x,
              /img/gallery/gallery-1desc@2x.png 2x
            "
          />
          <img
            src="/img/gallery/gallery-1desc.png"
            alt="Three animated kids with fire in their hands"
            loading="lazy"
          />
        </picture>
      </div>

      <div class="swiper-slide">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              /img/gallery/gallery-2.png    1x,
              /img/gallery/gallery-2@2x.png 2x
            "
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/gallery/gallery-2desc.png    1x,
              /img/gallery/gallery-2desc@2x.png 2x
            "
          />
          <img
            src="/img/gallery/gallery-2desc.png"
            alt="fire battle in comic style in the city"
            loading="lazy"
          />
        </picture>
      </div>

      <div class="swiper-slide">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              /img/gallery/gallery-3.png    1x,
              /img/gallery/gallery-3@2x.png 2x
            "
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/gallery/gallery-3desc.png    1x,
              /img/gallery/gallery-3desc@2x.png 2x
            "
          />
          <img
            src="/img/gallery/gallery-3desc.png"
            alt="Three animated kids in adventure gear with torches, standing in a dramatic canyon surrounded by fire and smoke"
            loading="lazy"
          />
        </picture>
      </div>

      <div class="swiper-slide">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              /img/gallery/gallery-4.png    1x,
              /img/gallery/gallery-4@2x.png 2x
            "
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/gallery/gallery-4desc.png    1x,
              /img/gallery/gallery-4desc@2x.png 2x
            "
          />
          <img
            src="/img/gallery/gallery-4desc.png"
            alt="Three animated children in fantasy warrior outfits, holding fiery weapons, standing confidently in a burning city street"
            loading="lazy"
          />
        </picture>
      </div>

      <div class="swiper-slide">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              /img/gallery/gallery-5.png    1x,
              /img/gallery/gallery-5@2x.png 2x
            "
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/gallery/gallery-5desc.png    1x,
              /img/gallery/gallery-5desc@2x.png 2x
            "
          />
          <img
            src="/img/gallery/gallery-5desc.png"
            alt="Three animated kids in red adventure outfits holding flaming swords, standing in a rocky canyon, one wearing a sci-fi helmet"
            loading="lazy"
          />
        </picture>
      </div>

      <div class="swiper-slide">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              /img/gallery/gallery-6.png    1x,
              /img/gallery/gallery-6@2x.png 2x
            "
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/gallery/gallery-6desc.png    1x,
              /img/gallery/gallery-6desc@2x.png 2x
            "
          />
          <img
            src="/img/gallery/gallery-6desc.png"
            alt="Two cartoon warriors casting fire in a lava-themed battle with game stats above."
            loading="lazy"
          />
        </picture>
      </div>

      <div class="swiper-slide">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              /img/gallery/gallery-7.png    1x,
              /img/gallery/gallery-7@2x.png 2x
            "
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/gallery/gallery-7desc.png    1x,
              /img/gallery/gallery-7desc@2x.png 2x
            "
          />
          <img
            src="/img/gallery/gallery-7desc.png"
            alt="Three cartoon kids in heroic outfits with fire powers, standing confidently in a burning city."
            loading="lazy"
          />
        </picture>
      </div>

      <div class="swiper-slide">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              /img/gallery/gallery-8.png    1x,
              /img/gallery/gallery-8@2x.png 2x
            "
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/gallery/gallery-8desc.png    1x,
              /img/gallery/gallery-8desc@2x.png 2x
            "
          />
          <img
            src="/img/gallery/gallery-8desc.png"
            alt="Three cartoon kids with torches and capes, standing in a smoky battlefield with determined expressions."
            loading="lazy"
          />
        </picture>
      </div>

      <div class="swiper-slide">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              /img/gallery/gallery-9.png    1x,
              /img/gallery/gallery-9@2x.png 2x
            "
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/gallery/gallery-9desc.png    1x,
              /img/gallery/gallery-9desc@2x.png 2x
            "
          />
          <img
            src="/img/gallery/gallery-9desc.png"
            alt="Comic styled explosion in city, top view"
            loading="lazy"
          />
        </picture>
      </div>

      <div class="swiper-slide">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              /img/gallery/gallery-10.png    1x,
              /img/gallery/gallery-10@2x.png 2x
            "
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/gallery/gallery-10desc.png    1x,
              /img/gallery/gallery-10desc@2x.png 2x
            "
          />
          <img
            src="/img/gallery/gallery-10desc.png"
            alt="Top-down view of a game field with multiple towers placed around a central square-shapefireplace"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev">
      <img
        src="/img/faq/fire-desc.png"
        alt="fire-button to scroll images to the left"
      />
    </div>
    <div class="swiper-button-next">
      <img
        src="/img/faq/fire-desc.png"
        alt="fire-button to scroll images to the right"
      />
    </div>
  </div>
</section>
