<section id="gallery" data-section="gallery">
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <picture>
          <source
            media=""
            srcset="/img/gallery/gallery- 1x, /img/gallery/gallery- 2x"
          />
          <source
            media=""
            srcset="/img/gallery/gallery- 1x, /img/gallery/gallery- 2x"
          />
          <img src="" alt="" />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            media=""
            srcset="/img/gallery/gallery- 1x, /img/gallery/gallery- 2x"
          />
          <source
            media=""
            srcset="/img/gallery/gallery- 1x, /img/gallery/gallery- 2x"
          />
          <img src="" alt="" />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            media=""
            srcset="/img/gallery/gallery- 1x, /img/gallery/gallery- 2x"
          />
          <source
            media=""
            srcset="/img/gallery/gallery- 1x, /img/gallery/gallery- 2x"
          />
          <img src="" alt="" />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            media=""
            srcset="/img/gallery/gallery- 1x, /img/gallery/gallery- 2x"
          />
          <source
            media=""
            srcset="/img/gallery/gallery- 1x, /img/gallery/gallery- 2x"
          />
          <img src="" alt="" />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            media=""
            srcset="/img/gallery/gallery- 1x, /img/gallery/gallery- 2x"
          />
          <source
            media=""
            srcset="/img/gallery/gallery- 1x, /img/gallery/gallery- 2x"
          />
          <img src="" alt="" />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            media=""
            srcset="/img/gallery/gallery- 1x, /img/gallery/gallery- 2x"
          />
          <source
            media=""
            srcset="/img/gallery/gallery- 1x, /img/gallery/gallery- 2x"
          />
          <img src="" alt="" />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            media=""
            srcset="/img/gallery/gallery- 1x, /img/gallery/gallery- 2x"
          />
          <source
            media=""
            srcset="/img/gallery/gallery- 1x, /img/gallery/gallery- 2x"
          />
          <img src="" alt="" />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            media=""
            srcset="/img/gallery/gallery- 1x, /img/gallery/gallery- 2x"
          />
          <source
            media=""
            srcset="/img/gallery/gallery- 1x, /img/gallery/gallery- 2x"
          />
          <img src="" alt="" />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            media=""
            srcset="/img/gallery/gallery- 1x, /img/gallery/gallery- 2x"
          />
          <source
            media=""
            srcset="/img/gallery/gallery- 1x, /img/gallery/gallery- 2x"
          />
          <img src="" alt="" />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            media=""
            srcset="/img/gallery/gallery- 1x, /img/gallery/gallery- 2x"
          />
          <source
            media=""
            srcset="/img/gallery/gallery- 1x, /img/gallery/gallery- 2x"
          />
          <img src="" alt="" />
        </picture>
      </div>
    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev">
      <img src="/img/faq/fire-desc.png" alt="" />
    </div>
    <div class="swiper-button-next">
      <img src="/img/faq/fire-desc.png" alt="" />
    </div>
  </div>
</section>
