<header id="header" data-section="header">
  <svg data-el='logo' width="20" heigth="20">
  <use href=""></use>
  </svg>
  <nav>
    <ul data-list="navigation-pc" data-font="title">
         <li><a href="#hero" >Home</a></li>
        <li><a href="#description" >Description</a></li>
        <li><a href="#features" >Features</a></li>
        <li><a href="#reviews" >Reviews</a></li>
        <li><a href="#howtoplay" >How to play</a></li>
        <li><a href="#faq">FAQ</a></li>
        <li><a href="#advantages" >Advantages</a></li>
        <li><a href="#gallery" >Gallery</a></li>
      </ul>
<button type="button" data-button="burger-open" >
    <svg width="20" height="20" >
      <use data-el="burger-use" href="/img/icons.svg#burger-menu"></use>
    </svg>
</button>

    <div data-menuvisible="close" data-menu="burger">
      <ul data-list="navigation-mob">
        <li><a href="#hero"  >Home</a></li>
        <li><a href="#description" >Description</a></li>
        <li><a href="#features"   >Features</a></li>
        <li><a href="#reviews"  >Reviews</a></li>
        <li><a href="#howtoplay"  >How to play</a></li>
        <li><a href="#faq"  >FAQ</a></li>
        <li><a href="#advantages"  >Advantages</a></li>
        <li><a href="#gallery"  >Gallery</a></li>
      </ul>   
  </nav>
    </header>
