<header id="header" data-section="header">
  <svg width="20" heigth="20">1</svg>
  <ul data-list="navigation-pc">
        <li><a href="/partials/hero.html" data-font="title">Home</a></li>
        <li><a href="/partials/description.html" data-font="title">Description</a></li>
        <li><a href="/partials/features.html"  data-font="title">Features</a></li>
        <li><a href="/partials/reviews.html" data-font="title">Reviews</a></li>
        <li><a href="/partials/howtoplay.html" data-font="title">How to play</a></li>
        <li><a href="/partials/faq.html" data-font="title">FAQ</a></li>
        <li><a href="/partials/advantages.html" data-font="title">Advantages</a></li>
        <li><a href="/partials/gallery.html" data-font="title">Gallery</a></li>
      </ul>
<button type="button" data-action="open" data-button="burger">
    <svg width="20" height="20"></svg>
</button>

    <div data-visible="close">
      <ul data-list="navigation-mob">
        <li><a href="#hero" data-font="title">Home</a></li>
        <li><a href="#description" data-font="title">Description</a></li>
        <li><a href="#features"  data-font="title">Features</a></li>
        <li><a href="#reviews" data-font="title">Reviews</a></li>
        <li><a href="#howtoplay" data-font="title">How to play</a></li>
        <li><a href="#faq" data-font="title">FAQ</a></li>
        <li><a href="#advantages" data-font="title">Advantages</a></li>
        <li><a href="#gallery" data-font="title">Gallery</a></li>
      </ul>
      <button type="button" class="btn-close" data-action="close">
        <svg width="20" height="20"></svg>
    </button>
    </header>
