<section id="hero" data-section="hero">
  <div>
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="/img/hero/hero-img.png 1x, /img/hero/hero-img@2x.png 2x"
      />
      <source
        media="(min-width: 320px)"
        srcset="/img/hero/hero-img-mob.png 1x, /img/hero/hero-img-mob@2x.png 2x"
      />
      <img src="/img/hero/hero-img.png" alt="" loading="lazy" />
    </picture>
  </div>
  <div>
    <h1 data-font="h1">Ignite Power. Blast Through!</h1>
    <button data-playBtn>
      <a
        href="https://play.google.com/store/apps/details?id=io.popscreen.fireballheroes&hl=en&gl=us"
        data-font="body-large"
        >Play now</a
      >
    </button>
  </div>
</section>
