<section id="howtoplay" data-section="how-to-play">
  <h2 data-font="h2">How to play</h2>
  <ul>
    <li data-el="htp-item">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            /img/howToPlay/fire-sphere-desc.png    1x,
            /img/howToPlay/fire-sphere-desc@2x.png 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            /img/howToPlay/fire-sphere-mob.png    1x,
            /img/howToPlay/fire-sphere-mob@2x.png 2x
          "
        />
        <img
          src="/img/howToPlay/fire-sphere-desc.png"
          alt="little picture of red yellow and orange fire sphere"
          loading="lazy"
        />
      </picture>
      <p data-font="body">Choose your Fireball Hero</p>
    </li>
    <li data-el="htp-item">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            /img/howToPlay/fire-circle-desc.png    1x,
            /img/howToPlay/fire-circle-desc@2x.png 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            /img/howToPlay/fire-circle-mob.png    1x,
            /img/howToPlay/fire-circle-mob@2x.png 2x
          "
        />
        <img
          src="/img/howToPlay/fire-circle-desc.png"
          alt="little picture of red yellow and orange fire circle"
          loading="lazy"
        />
      </picture>
      <p data-font="body">Train your skills by blasting practice targets</p>
    </li>
    <li data-el="htp-item">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            /img/howToPlay/fire-sphere-desc.png    1x,
            /img/howToPlay/fire-sphere-desc@2x.png 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            /img/howToPlay/fire-sphere-mob.png    1x,
            /img/howToPlay/fire-sphere-mob@2x.png 2x
          "
        />
        <img
          src="/img/howToPlay/fire-sphere-desc.png"
          alt="little picture of red yellow and orange fire sphere"
          loading="lazy"
        />
      </picture>
      <p data-font="body">Jump into missions to battle incoming alien waves</p>
    </li>
    <li data-el="htp-item">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            /img/howToPlay/fire-circle-desc.png    1x,
            /img/howToPlay/fire-circle-desc@2x.png 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            /img/howToPlay/fire-circle-mob.png    1x,
            /img/howToPlay/fire-circle-mob@2x.png 2x
          "
        />
        <img
          src="/img/howToPlay/fire-circle-desc.png"
          alt="little picture of red yellow and orange fire circle"
          loading="lazy"
        />
      </picture>
      <p data-font="body">
        Aim and launch fireballs to destroy enemies and objects
      </p>
    </li>
    <li data-el="htp-item">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            /img/howToPlay/fire-sphere-desc.png    1x,
            /img/howToPlay/fire-sphere-desc@2x.png 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            /img/howToPlay/fire-sphere-mob.png    1x,
            /img/howToPlay/fire-sphere-mob@2x.png 2x
          "
        />
        <img
          src="/img/howToPlay/fire-sphere-desc.png"
          alt="little picture of red yellow and orange fire sphere"
          loading="lazy"
        />
      </picture>
      <p data-font="body">Unlock new powers and upgrade your heroes</p>
    </li>
    <li data-el="htp-item">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            /img/howToPlay/fire-circle-desc.png    1x,
            /img/howToPlay/fire-circle-desc@2x.png 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            /img/howToPlay/fire-circle-mob.png    1x,
            /img/howToPlay/fire-circle-mob@2x.png 2x
          "
        />
        <img
          src="/img/howToPlay/fire-circle-desc.png"
          alt="little picture of red yellow and orange fire circle"
          loading="lazy"
        />
      </picture>
      <p data-font="body">Defend different areas of your hometown</p>
    </li>
    <li data-el="htp-item">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            /img/howToPlay/fire-sphere-desc.png    1x,
            /img/howToPlay/fire-sphere-desc@2x.png 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            /img/howToPlay/fire-sphere-mob.png    1x,
            /img/howToPlay/fire-sphere-mob@2x.png 2x
          "
        />
        <img
          src="/img/howToPlay/fire-sphere-desc.png"
          alt="little picture of red yellow and orange fire sphere"
          loading="lazy"
        />
      </picture>
      <p data-font="body">
        Repeat and challenge harder modes for better rewards!
      </p>
    </li>
  </ul>
</section>
