<section id="howToPlay" data-section="how-to-play">
  <h2 data-font="h2">How to play</h2>
  <ul>
    <li>
      <picture>
        <source media="" srcset="/img/howToPlay/ 1x, /img/howToPlay/ 2x" />
        <source media="" srcset="/img/howToPlay/ 1x, /img/howToPlay/ 2x" />
        <img src="" alt="" loading="lazy" />
      </picture>
      <p>Choose your Fireball Hero</p>
    </li>
    <li>
      <picture>
        <source media="" srcset="/img/howToPlay/ 1x, /img/howToPlay/ 2x" />
        <source media="" srcset="/img/howToPlay/ 1x, /img/howToPlay/ 2x" />
        <img src="" alt="" loading="lazy" />
      </picture>
      <p>Train your skills by blasting practice targets</p>
    </li>
    <li>
      <picture>
        <source media="" srcset="/img/howToPlay/ 1x, /img/howToPlay/ 2x" />
        <source media="" srcset="/img/howToPlay/ 1x, /img/howToPlay/ 2x" />
        <img src="" alt="" loading="lazy" />
      </picture>
      <p>Jump into missions to battle incoming alien waves</p>
    </li>
    <li>
      <picture>
        <source media="" srcset="/img/howToPlay/ 1x, /img/howToPlay/ 2x" />
        <source media="" srcset="/img/howToPlay/ 1x, /img/howToPlay/ 2x" />
        <img src="" alt="" loading="lazy" />
      </picture>
      <p>Aim and launch fireballs to destroy enemies and objects</p>
    </li>
    <li>
      <picture>
        <source media="" srcset="/img/howToPlay/ 1x, /img/howToPlay/ 2x" />
        <source media="" srcset="/img/howToPlay/ 1x, /img/howToPlay/ 2x" />
        <img src="" alt="" loading="lazy" />
      </picture>
      <p>Unlock new powers and upgrade your heroes</p>
    </li>
    <li>
      <picture>
        <source media="" srcset="/img/howToPlay/ 1x, /img/howToPlay/ 2x" />
        <source media="" srcset="/img/howToPlay/ 1x, /img/howToPlay/ 2x" />
        <img src="" alt="" loading="lazy" />
      </picture>
      <p>Defend different areas of your hometown</p>
    </li>
    <li>
      <picture>
        <source media="" srcset="/img/howToPlay/ 1x, /img/howToPlay/ 2x" />
        <source media="" srcset="/img/howToPlay/ 1x, /img/howToPlay/ 2x" />
        <img src="" alt="" loading="lazy" />
      </picture>
      <p>Repeat and challenge harder modes for better rewards!</p>
    </li>
  </ul>
</section>
