body {
  background-color: $bgcolor;
  color: $txtcolor;
}
[data-section] {
  width: $mobile;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $desktop) {
    width: $desktop;
  }
}
// text
[data-font='h1'] {
  font-family: 'Texturina', serif;
  font-weight: 400;
  font-size: 36px;

  @media (min-width: $desktop) {
    font-size: 64px;
  }
}

[data-font='h2'] {
  font-family: 'Texturina', serif;
  font-weight: 400;
  font-size: 28px;

  @media (min-width: $desktop) {
    font-size: 48px;
  }
}

[data-font='h3'] {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;

  @media (min-width: $desktop) {
    font-size: 28px;
  }
}

// Titles
[data-font='title'] {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  @include font(22, 30);

  @media (min-width: $desktop) {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    @include font(36, 30);
  }
}

[data-font='title-small'] {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  @include font(16, 30);

  @media (min-width: $desktop) {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    @include font(24, 30);
  }
}

// Body text
[data-font='body-large'] {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  @include font(20, 20);

  @media (min-width: $desktop) {
    @include font(36, 36);
  }
}

[data-font='body-medium'] {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  @include font(16, 20);

  @media (min-width: $desktop) {
    @include font(32, 30);
  }
}

[data-font='body'] {
  font-family: 'Inter', sans-serif;
  font-weight: 400;

  @include font(14, 14);

  @media (min-width: $desktop) {
    @include font(24, 32);
  }
}
// PLAY BUTTONS
[data-playBtn] {
  width: 288px;
  height: 78px;
  border-radius: 24px;
  padding: 24px 80px 24px 80px;
  border-radius: 24px;
  color: $txtcolor;
  background-color: $accentcolor;

  animation-delay: 800ms;
  animation-duration: 0ms;

  @media (min-width: $desktop) {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    @include font(24, 24);
    width: 242px;
    padding: 24px 48px 24px 48px;
  }
  &:hover {
    background-color: $hovercolor;
    animation-timing-function: ease-in-out;
    animation-duration: 300ms;
  }
  &:focus {
    border: 1px solid $bgcolor;
  }
  &:active {
    background-color: $pressedcolor;
  }
}
