:root {
  line-height: 1.2;
  letter-spacing: 0.1px;
}
body {
  background-color: $bgcolor;
  color: $txtcolor;
}
body {
  overflow-x: hidden;
}
body.no-scroll {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

[data-section] {
  width: $mobile;
  margin-left: auto;
  margin-right: auto;
  transition: opacity 1s ease;
  @media (min-width: $desktop) {
    width: $desktop;
  }
}
// text
[data-font='h1'] {
  font-family: 'Texturina', serif;
  font-weight: 400;
  @include font(36, 40);
  @media (min-width: $desktop) {
    font-size: 64px;
    line-height: 1.23;
  }
}

[data-font='h2'] {
  font-family: 'Texturina', serif;
  font-weight: 400;
  font-size: 28px;

  @media (min-width: $desktop) {
    font-size: 58px;
  }
}

[data-font='h3'] {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;

  @media (min-width: $desktop) {
    font-size: 28px;
  }
}

// Titles
[data-font='title'] {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  @include font(22, 30);

  @media (min-width: $desktop) {
    font-family: 'Texturina', serif;
    font-weight: 500;
    @include font(20, 20);
  }
}

[data-font='title-small'] {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  @include font(16, 30);

  @media (min-width: $desktop) {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    @include font(24, 30);
  }
}

// Body text
[data-font='body-large'] {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;

  @media (min-width: $desktop) {
    font-size: 36px;
  }
}

[data-font='body-medium'] {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  @include font(16, 20);

  @media (min-width: $desktop) {
    @include font(32, 30);
  }
}

[data-font='body'] {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;

  @media (min-width: $desktop) {
    font-size: 24px;
  }
}
// PLAY BUTTONS
@keyframes btnAnimation {
  from {
    background-color: $accentcolor;
  }
  to {
    background-color: $accentcolor2;
    // border: 3px solid $pressedAcceptC;
  }
}
[data-playBtn] {
  display: inline-flex;
  align-items: center;
  width: 288px;
  height: 78px;
  border-radius: 24px;
  padding: 24px 80px;
  border-radius: 24px;
  gap: 16px;

  color: $txtcolor;
  background-color: $accentcolor;
  animation-name: btnAnimation;
  animation-duration: 600ms;
  animation-delay: 600ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  @media (min-width: $desktop) {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    width: 242px;
    padding: 24px 48px;
  }
  &:hover {
    animation: none;
    @include hover-style($accentcolor, null);
  }
  &:focus {
    animation: none;
    @include hover-style($accentcolor, null);
  }
  &:active {
    background-color: $pressedcolor;
  }
}
[data-el='google-logo'] {
  width: 24px;
  height: 24px;
}
