[data-section='description'] {
  background-color: $bgcolor;
  padding: 40px 16px;

  @media (min-width: $desktop) {
    padding: 100px 80px;
  }
}

.title-description {
  text-align: center;
  margin-bottom: 24px;
  @media (min-width: 1024px) {
    margin-bottom: 80px;
  }
}

.description-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  @media (min-width: 1024px) {
    gap: 32px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

// .description-text,
// .description-image {
//   width: 100%;
//   max-width: 600px;
// }

// .items {
//   display: flex;
//   flex-direction: column;
//   gap: 20px;
//   align-items: center;
// }

.description-text {
  width: 50%;
}

.description-image {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.description-image img {
  max-width: 100%;
  height: auto;
}
