[data-section='description'] {
  background-color: $bgcolor;
  padding: 40px 16px;

  @media (min-width: $desktop) {
    padding: 100px 80px;
  }
}

.title-description {
  text-align: center;
  margin-bottom: 24px;
  @media (min-width: 1024px) {
    margin-bottom: 80px;
  }
}

.description-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  @media (min-width: 1024px) {
    gap: 32px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.description-content {
  padding-bottom: 16px;

  @media (min-width: $desktop) {
    padding-bottom: 20px;
  }
}

// .description-text,
// .description-image {
//   width: 50%;
// }
.description-image {
  display: flex;
  justify-content: flex-end;
  border-radius: 24px;
}

.description-image img {
  //   width: 508px;
  //   height: 345px;
  max-width: 100%;
  height: auto;
  border-radius: 24px;
}
