[data-section='footer'] {
  margin: auto;
  width: 320px;
  height: 210px;

  background-image: url('/img/footer-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
