[data-section='header'] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 10px 16px;

  position: sticky;
  top: 0;
  margin-left: auto;
  margin-right: auto;

  height: 44px;
  width: 320px;
  background: #26262a;
  box-shadow: inset 0px 4px 20px rgba(255, 107, 0, 0.7);
  z-index: 9;
  @media (min-width: $desktop) {
    width: $desktop;
    height: 80px;
    padding: 30px 80px;
  }
}
[data-list='navigation-pc'] {
  display: none;
  @media (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}
[data-button='burger-open'] {
  @media (min-width: $desktop) {
    display: none;
  }
}
[data-visible='close'] {
  display: none;
}
