html {
  scroll-behavior: smooth;
}
[data-section] {
  scroll-margin-top: 44px;
}
[data-section='header'] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 12px 16px;

  position: sticky;
  top: 0;

  height: 44px;
  background: #26262a;
  box-shadow: inset 0px 4px 20px rgba(255, 107, 0, 0.7);
  z-index: 9;
  @media (min-width: $desktop) {
    height: 80px;
    padding: 30px 80px;
  }
}
[data-el='logo'] {
  width: 20px;
  height: 20px;
  @media (min-width: $desktop) {
    width: 60px;
    height: 60px;
  }
}
[data-list='navigation-pc'] {
  display: none;
  @media (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    gap: 16px;
    a:hover,
    a:focus {
      @include hover-style(null, $lightaccent);
    }
    a:active {
      @include hover-style(null, $accentcolor);
    }
  }
}
[data-menu='burger'] {
  background-color: $bgcolor2;
  position: absolute;
  height: 352px;
  top: 44px;
  right: 0;
}
[data-menuvisible='open'] {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 1s ease-out;
}
[data-menuvisible='close'] {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 1s ease-in, visibility 0s linear 1s;
}
[data-list='navigation-mob'] {
  width: 206px;
  padding: 40px 24px;
  li:hover {
    @include hover-style(null, $lightaccent);
  }
  li:active {
    @include hover-style(null, $accentcolor);
  }
  display: flex;
  flex-direction: column;
  gap: 16px;

  font-family: 'Texturina';
  font-weight: 500;
  @include font(20, 20);
}
[data-button='burger-close'] {
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
  padding: 0%;
  [data-el='exit-svg'] {
    width: 12px;
    height: 12px;
  }
  @media (min-width: $desktop) {
    display: none;
  }
}
[data-button='burger-open'] {
  background-color: transparent;
  border: none;
  padding: 0%;
  width: 20px;
  height: 20px;
  [data-el='burger-svg'] {
    width: 20px;
    height: 20px;
  }
  z-index: 10;
  @media (min-width: $desktop) {
    display: none;
  }
}
[data-el='burger-use'] {
  fill: $txtcolor;
  stroke: $txtcolor;
}
svg[data-visible='false'] {
  display: none !important;
}
svg[data-visible='true'] {
  display: inline-block !important;
}
