@import './header.scss';
@import './footer.scss';

// H1
// Texturina, Regular, 64 px
// H2
// Texturina, Regular, 58 px
// H3
// Inter, Semi Bold, 36 px
// H4
// Inter, Semi Bold, 24 px
// H5
// Inter, Medium, 20 px
// Body large
// Inter, Regular, 36 px
// Body medium
// Inter, Regular, 32 px
// Body
// Inter, Regular, 24 px
// Body
// Inter, Regular, 20 px
// Title
// Texturina, Medium, 20
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
